

body {

    padding-top: 50px;
    margin: auto;
    padding: auto;
    width: 100%;
    background-image: url('../JU9bGD.webp');  /* Change to your background image */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
    color: #333;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Grow to fill remaining space */
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: rgb(76, 10, 76); 
}

label {
    display: block;
    margin: 10px 0 5px;     /*Design for the label title*/
    font-weight: bold;
    color:rgb(29, 39, 95);
}

input,
textarea {                 /*Design for the input text-area*/
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: rgb(122, 187, 122);
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    border: none;           /*Design for the buttons*/
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 0%;
    margin-left: 160px;
    font-weight: bolder;
}

button:hover {
    color:darkgoldenrod; /* Background color on hover */
}


.exit-button {
    background-color: #434343;
    margin-left: 10px;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
}

.exit-button:hover {
    background-color: #bbb;
}

.menu {
    overflow: hidden;
    width: 100%;
    background: rgb(58, 81, 132)	; 
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
 
}

.menu a {
    float: left;
    display: block;
    color: #fff; /* Text color for the navigation links */
    text-align: center;
    padding: 10px 15px; /* Adjust padding for a comfortable look */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
        color:darkgoldenrod; /* Background color on hover */
}


footer{          /*Design for the footer*/

    margin-top: 0%;
    padding: 0%;
    width: 100%;
    background-color: #202020;
    box-sizing: border-box;
    min-height: 100px;

}

footer h2 {
   
    padding-left: 80px;
    padding-bottom: none;
    padding-top: 40px;
    color:burlywood;
    margin-bottom: 0%;
    margin-top: 0%;

}

.names {
    margin-left: 50px;
}

#boxes {
    float: left;
    background-color: #202020;
    box-sizing: border-box;
    width: 30%;
    line-height: 1.5em;
    padding-left: 100px;
    padding-bottom: none;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    
}

#boxes p {
    color: lightslategrey;
    word-spacing: 0.3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}